@media only screen and (min-width: 320px){
    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 10vw;
    }

    .quote-box {
        font-size: 5vw;
        padding: 10% 10% 10% 10%;
        width: 80%;
    }

    .setup {
        padding: 10% 5% 10% 5%;
    }
    
    .punchline {
        padding: 0 5% 0 5%;
        margin-bottom: 10%;
    }

    .buttons {
        float: left;
        width: 100%;
        display: block;
    }

    .button {
        display: block;
        margin-bottom: 10px;
    }

    .generate-button {
        width: 100%;
    }

    .twitter-share-button {
        width: 92%;
    }

    .api-source {
        margin-top: 50%;
    }
  
    footer {
        margin-top: 30%;
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 340px) and (max-width: 374px){
    .twitter-share-button {
        width: 93%;
    }

    .api-source {
        margin-top: 40%;
    }
}

@media only screen and (min-width: 375px){
    .twitter-share-button {
        width: 93.5%;
    }

    .api-source {
        margin-top: 40%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 424px){
    .twitter-share-button {
        width: 94%;
    }
}

@media only screen and (min-width: 425px){
    h1 {
        font-size: 8vw;
    }

    .quote-box {
        font-size: 4vw;
    }

    .buttons {
        display: flex;
        width: 100%;
    }

    .twitter-share-button {
        margin-left: 0.5px;
    }

    .api-source {
        margin-top: 20%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px){
    .quote-box {
        font-size: 3.3vw;
    }

    .api-source {
        margin-top: 15%;
    }
}

@media only screen and (min-width: 768px){
    h1 {
        font-size: 6vw;
    }

    .quote-box {
        font-size: 2.5vw;
        padding: 3% 3% 8% 3%;
    }

    .generate-button {
        margin-left: 7%;
    }

    .twitter-share-button {
        margin-right: 7%;
    }

    footer {
        margin-top: 10%;
        margin-bottom: 1%;
    }

    .api-source {
        margin-top: 15%;
    }
}

@media only screen and (min-width: 1024px){
    h1 {
        font-size: 5vw;
    }

    .generate-button {
        margin-left: 8%;
    }

    .twitter-share-button {
        margin-right: 8%;
    }

    .quote-box {
        font-size: 2vw;
        padding: 2% 2% 6% 2%;
    }
}

@media only screen and (min-width: 1150px) {
    .setup {
        padding: 8% 3% 8% 3%;
    }
    
    .punchline {
        padding: 0 5% 0 5%;
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 1440px){
    h1 {
        font-size: 4vw;
    }

    .quote-box {
        font-size: 1.5vw;
        padding: 0 2% 6% 2%;
    }
}