.app {
    padding-top: 20%;
}

body {
    background-color: aliceblue;
}

h1 {
    padding-bottom: 5%;
}

.setup {
    font-size: 25px;
    padding-bottom: 5%;
}

.punchline {
    font-size: 25px;
    padding-bottom: 10%;
}

p {
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 15px;
}

.fa-twitter {
    padding-left: 10px;
}