body {
    background-color: #202020;
}

h1 {
    color: whitesmoke;
    font-family: 'Pacifico', Helvetica, sans-serif;
    text-align: center;
}

.setup {
    padding: 10% 5% 10% 5%;
}

.punchline {
    padding: 0 5% 0 5%;
}

.quote-box {
    background-color: whitesmoke;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
    max-width: 100%;
    height: 250px;
    text-align: center;
    font-family: 'Jua', sans-serif;
}

.buttons {
    padding-top: 30px;
    width: 400px;
    margin: 0 auto;
}

.generate-button {
    vertical-align: top;
    background-color: lightseagreen;
    color: whitesmoke;
    border-radius: 25px;
    border-style: solid;
    border-color: lightseagreen;
    width: 150px;
    padding: 15px;
    padding-bottom: 16px;
    font-weight: bold;
}

.generate-button:hover {
    background-color: darkcyan;
    border-color: darkcyan;
}

.twitter-button:hover {
    background-color: 	#4169E1;
    border-color: 	#4169E1;
}

.twitter-button {
    vertical-align: top;
    background-color: #1DA1F2;
    border-color: #1DA1F2;    
    color: whitesmoke;
    border-radius: 25px;
    border-style: solid;
    width: 150px;
    padding: 10px;
    font-weight: bold;  
}

button:focus {
    outline:0;
}

.fa-github {
    transform: rotate(-360deg);
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.fa-github {
    color: whitesmoke;
    margin-top: 10%;
}

.fa-github:hover {
    color: #8A2BE2;
}

.github-profile-link {
    color: whitesmoke;
}

p {
    text-align: center;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: whitesmoke;
}