
body {
    background-color: #202020;
}

h1 {
    color: whitesmoke;
    font-family: 'Pacifico', Helvetica, sans-serif;
    text-align: center;
}

.setup {
    font-size: 23px;
    margin: 50px 25px 50px 25px;
}

.punchline {
    font-size: 25px;
    margin: 0 25px 0 25px;
}

p {
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: whitesmoke;
}

.fa-twitter {
    background-color: #1DA1F2;
    color: whitesmoke;
    border-radius: 25px;
    height: 48px;
    width: 150px;
    margin-left: 25px;
}

.fa-twitter::before {
    padding-left: 60px;
    position: relative;
    top: 7px;
}

.fa-twitter:hover {
    background-color: 	#4169E1;
}

.quote-box {
    background-color: whitesmoke;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
    max-width: 700px;
    height: 250px;
    text-align: center;
    font-family: 'Jua', sans-serif;
}

button {
    background-color: lightseagreen;
    color: whitesmoke;
    border-radius: 25px;
    border-style: solid;
    border-color: lightseagreen;
    width: 150px;
    padding: 15px;
    font-weight: bold;
}

button:hover {
    background-color: darkcyan;
    border-color: darkcyan;
}

button:focus {
    outline:0;
}

.buttons {
    padding-top: 30px;
    width: 350px;
    margin: auto;
}

.fa-github {
    transform: rotate(-360deg);
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.fa-github {
    color: whitesmoke;
    margin-top: 10%;
}

.fa-github:hover {
    color: #8A2BE2;
}

.github-profile-link {
    color: whitesmoke;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 10vw;
    }

    .quote-box {
        height: 350px;
    }

    .buttons {
        margin: 0 10px 50px 10px;
    }
}

@media only screen and (min-width: 500px) {
    h1 {
        font-size: 7vw;
    }
}

@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 4vw;
    }
}